<IfModule mod_rewrite.c>
        RewriteEngine On

		RewriteRule update\.php$ %{REDIRECT_BASE}update [L]
		
		RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteRule (.*) index.php/$1 [L]
</IfModule>
